Tests: rose-7.q16hdri
Depends: imagemagick-7.q16hdri, libmagickcore-7.q16hdri-6-extra, netpbm

Tests: perlmagick-7.q16hdri
Depends: libimage-magick-q16hdri-perl, libmagickcore-7.q16hdri-6-extra, libaliased-perl, gsfonts

Tests: rose-7.q16
Depends: imagemagick-7.q16, libmagickcore-7.q16-6-extra, netpbm

Tests: perlmagick-7.q16
Depends: libimage-magick-q16-perl, libmagickcore-7.q16-6-extra, libaliased-perl, gsfonts

