#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export QUANTUMDEPTH?=q16
export SOVERSION ?= 7
export IMVERSION ?= 6

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
export DEB_SOURCE_PACKAGE ?= $(strip $(shell egrep '^Source: ' debian/control | cut -f 2 -d ':'))
export DEB_VERSION ?= $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export DEB_NOEPOCH_VERSION ?= $(shell echo $(DEB_VERSION) | cut -d: -f2-)
export DEB_UPSTREAM_VERSION ?= $(shell echo $(DEB_NOEPOCH_VERSION) | sed 's/-[^-]*$$//')
export DEB_ISNATIVE ?= $(shell dpkg-parsechangelog | egrep '^Version:' | perl -ne 'print if not /^Version:\s*.*-/;')

export DEB_UPSTREAM_VERSION_DROPREVISION ?= $(shell echo $(DEB_UPSTREAM_VERSION) |  sed -r "s/(^.+)\..+$$/\1/g")
export DEB_UPSTREAM_VERSION_MAJOR ?= $(shell echo $(DEB_UPSTREAM_VERSION) | sed -r "s/(^[[:digit:]]+)\..+$$/\1/g")

export INDEP_PKG ?= imagemagick-doc imagemagick-common libmagickcore-headers libmagickwand-headers libmagick++-headers 
# name of package in generic form QUANTUM will be replaced by sed by the current quantum depth
export ARCH_QUANTUM_PKG ?= libmagickcore-QUANTUM-$(SOVERSION)-extra libmagickcore-QUANTUM-$(SOVERSION) \
	                   libmagick++-QUANTUM-$(SOVERSION) libmagickwand-QUANTUM-$(SOVERSION) \
	 		   imagemagick-QUANTUM-$(IMVERSION) libmagickcore-dev libmagick++-dev libmagickwand-dev 
export ARCH_NOQUANTUM_PKG ?= libmagickcore-arch-config perlmagick

# quantum depth used by quantum independant package (first one of QUANTUMDEPTH)
export NOQUANTUMDEPTH ?= $(shell echo $(QUANTUMDEPTH) | cut -f 1 -d ' ')


# put QUANTUMDEPTH in lower case for package name
#export QUANTUMDEPTH_LOWER ?= $(shell echo $(QUANTUMDEPTH) | sed -e 's/\(.*\)/\L\1/'))


ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NUMJOBS := $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
PASS_MAKEFLAGS += -j$(NUMJOBS)
endif


# NOTICE: remove EPL delegate lib gvc (license problem)
export CONFIGURE_OPTIONS ?= \
	--prefix=/usr \
        --libdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
	--sysconfdir=/etc \
	--with-includearch-dir=/usr/include/$(DEB_HOST_MULTIARCH)/ \
	--mandir=/usr/share/man \
	--infodir=/usr/share/info \
	--docdir=/usr/share/doc/imagemagick \
	--with-modules \
	--with-gs-font-dir=/usr/share/fonts/type1/gsfonts \
	--with-magick-plus-plus \
	--with-djvu \
        --with-wmf \
        --without-gvc \
	--enable-shared \
	--without-dps \
	--without-fpx \
	--with-perl-options='INSTALLDIRS=vendor' \
	--x-includes=/usr/include/X11 \
	--x-libraries=/usr/lib/X11 \
	--without-rsvg

##	$(shell echo $* | sed -e 's/\(.*\)/\L\1/') 
##	$(shell echo $* | sed -r 's/Q?([[:digit:]]*)(HDRI)?/\1/gi')

#DESTDIR="$(CURDIR)/debian/tmp"

# for better pkg-symbols for c++
ifneq (/usr/share/pkg-kde-tools/bin,$(filter /usr/share/pkg-kde-tools/bin,$(subst :, ,$(PATH))))
    export PATH := /usr/share/pkg-kde-tools/bin:$(PATH)
endif

# For some reason, the
# libtools wrapper scripts don't work.
# And for some reasons, the delegates are missing here.
# use the recently builded convert using upstream script
CONVERT ?= $(CURDIR)/magick.sh convert
CONVERT_FLAGS ?= -background none -define filter:blur=0.75 -filter Gaussian


# libtool link with depends lib by default autoreconf to avoid it, using debian patched version
autoreconf: autoreconf-stamp
autoreconf-stamp:
	dh_testdir
	dh_autoreconf
	touch autoreconf-stamp

# build a binaries and lib associated
build-arch-bin-quantum-%: autoreconf build-arch-bin-quantum-stamp-% 
	@echo ""
	@echo "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"
	@echo "Build Imagemagick for quantum depth  $* : DONE"
	@echo ""
build-arch-bin-quantum-stamp-%: $(QUILT_STAMPFN) autoreconf-stamp
	@echo ""
	@echo "-------------------------------------------"
	@echo "Build Imagemagick for quantum depth  $*    "  
	@echo "-------------------------------------------"
	@echo ""
	dh_testdir
	[ ! -d $(CURDIR)/debian/tmp-$* ] || rm -rf $(CURDIR)/debian/tmp-$*
	dh_installdirs

	[ ! -f Makefile ] || $(MAKE) $(PASS_MAKEFLAGS) clean

	# use cache for speeding test
	dh_auto_configure -- $(CONFIGURE_OPTIONS) \
		--program-suffix=".$(shell echo $* | sed -e 's/\(.*\)/\L\1/').im$(DEB_UPSTREAM_VERSION_MAJOR)" \
		--with-quantum-depth=$(shell echo $* | sed -r 's/q?([[:digit:]]*)(HDRI)?/\1/gi') \
		-C

	# Patch the generated libtool to avoid passing -rpath when linking,
	# and to explicitly link libraries against the libraries they
	# depend on.

	sed -i libtool \
		-e 's/^hardcode_libdir_flag_spec.*$$/hardcode_libdir_flag_spec=" -D__LIBTOOL_IS_A_FOOL__ "/' \
	 	-e '/^archive_cmds="/s/"$$/ \\$$deplibs"/'

	$(MAKE) $(PASS_MAKEFLAGS)

	# now build perl
	# Create Makefile after building main library, so it finds -lMagickCore (see #650417)
	cd "$(CURDIR)/PerlMagick" && \
		perl Makefile.PL INSTALLDIRS=vendor
	cd "$(CURDIR)/PerlMagick" && \
		$(MAKE) $(PASS_MAKEFLAGS) OPTIMIZE="-O2 -g -Wall"

	touch $@
clean-build-arch-bin-quantum-%:
	dh_testdir
	[ ! -f build-arch-bin-quantum-stamp-$* ] || rm -f build-arch-bin-quantum-stamp-$*

#

# check a binary
check-arch-bin-quantum-%: check-arch-bin-quantum-stamp-% 
	@echo ""
	@echo "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"
	@echo " Test Imagemagick for quantum depth  $* : DONE"
	@echo ""
check-arch-bin-quantum-stamp-%: build-arch-bin-quantum-stamp-%
	@echo ""
	@echo "-------------------------------------------"
	@echo " Test Imagemagick for quantum depth  $*    "  
	@echo "-------------------------------------------"
	@echo ""

	dh_testdir
	#dh_auto_test
#ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	@if test "$(DEB_HOST_GNU_TYPE)" = "$(DEB_BUILD_GNU_TYPE)"; then \
           unset DISPLAY; \
           LD_LIBRARY_PATH="$(CURDIR)/magick/.libs:$(CURDIR)/wand/.libs:$(CURDIR)/Magick++/lib/.libs:$$LD_LIBRARY_PATH" \
           $(MAKE) check LD_RUN_PATH= && echo "*** Testsuite succeeded ***" || (echo "*** Testsuite failed ***" ; exit 1) ; \
           cat test-suite.log; \
        else \
           echo "Skipping regression tests because we appear to be cross-compiling"; \
        fi
#endif
	touch $@
clean-check-arch-bin-quantum-%:
	dh_testdir
	[ ! -f check-arch-bin-stamp-$* ] || rm -f check-bin-stamp-$*


# install to destdir
build-arch-quantum-install-destdir-%: build-arch-quantum-install-destdir-stamp-%
	@echo ""
	@echo "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"
	@echo " Install Imagemagick for quantum depth  $* to (CURDIR)/debian/tmp-$*   : DONE"
	@echo ""
build-arch-quantum-install-destdir-stamp-%: build-arch-bin-quantum-stamp-% check-arch-bin-quantum-stamp-%
	@echo ""
	@echo "-----------------------------------------------------------------------"
	@echo " Install Imagemagick for quantum depth  $* to (CURDIR)/debian/tmp-$*   "  
	@echo "-----------------------------------------------------------------------"
	@echo ""


	dh_testdir
	$(MAKE) $(PASS_MAKEFLAGS) install DESTDIR="$(CURDIR)/debian/tmp-$*" \
		pkgdocdir=/usr/share/doc/imagemagick-common

	# Fix HTML location inside manpages (TODO proper patch please)
	sed -i 's/doc\/ImageMagick-$(DEB_UPSTREAM_VERSION_DROPREVISION)/doc\/imagemagick-common/' \
		$(CURDIR)/debian/tmp-$*/usr/share/man/man*/*
	sed -i 's/doc\/ImageMagick\\-$(DEB_UPSTREAM_VERSION_DROPREVISION)/doc\/imagemagick-common/' \
		$(CURDIR)/debian/tmp-$*/usr/share/man/man*/*

	# perl now
	cd "$(CURDIR)/PerlMagick" && \
		$(MAKE) install \
		DESTDIR="$(CURDIR)/debian/tmp-$*" \
		pkgdocdir=/usr/share/doc/imagemagick-common

	# Remove RPATH from Magick.so (perl)
	chmod u+w $(CURDIR)/debian/tmp-$*/usr/lib/perl5/auto/Image/Magick/Magick.so
	chrpath -d $(CURDIR)/debian/tmp-$*/usr/lib/perl5/auto/Image/Magick/Magick.so
	chmod u-w $(CURDIR)/debian/tmp-$*/usr/lib/perl5/auto/Image/Magick/Magick.so

	# empties dependency_libs from .la files
	# http://lists.debian.org/debian-devel/2009/08/msg00783.html
	find $(CURDIR)/debian/tmp-$*/usr/lib -name '*.la' -exec \
		sed -i "s,^dependency_libs=.*,dependency_libs=''," {} \;

	# Remove empty directories in debian/tmp
	-find $(CURDIR)/debian/tmp-$* -type d -empty | xargs -r rmdir -p

	# build icons cache (build for each arch in order to get more testing)
	while read SIZE; do \
		mkdir -p $(CURDIR)/debian/tmp-$*/usr/share/icons/hicolor/$$SIZE/apps/ ;\
		$(CONVERT) $(CURDIR)/debian/display.im$(DEB_UPSTREAM_VERSION_MAJOR).svg $(CONVERT_FLAGS) -resize $$SIZE \
	                   -gravity center -extent $$SIZE  \
			   $(CURDIR)/debian/tmp-$*/usr/share/icons/hicolor/$$SIZE/apps/display.im$(DEB_UPSTREAM_VERSION_MAJOR).png; \
	done < $(CURDIR)/debian/display.im$(DEB_UPSTREAM_VERSION_MAJOR).iconssize
	# make xpm
	mkdir -p $(CURDIR)/debian/tmp-$*/usr/share/pixmaps/
	$(CONVERT) $(CURDIR)/debian/display.im$(DEB_UPSTREAM_VERSION_MAJOR).svg $(CONVERT_FLAGS) -resize 32x32 \
                -gravity center -extent 32x32  \
		$(CURDIR)/debian/tmp-$*/usr/share/pixmaps/display.im$(DEB_UPSTREAM_VERSION_MAJOR).xpm
	# do not forget svgz
	mkdir -p $(CURDIR)/debian/tmp-$*/usr/share/icons/hicolor/scalable/apps/
	gzip -c -n -9 $(CURDIR)/debian/display.im$(DEB_UPSTREAM_VERSION_MAJOR).svg \
		> $(CURDIR)/debian/tmp-$*/usr/share/icons/hicolor/scalable/apps/display.im$(DEB_UPSTREAM_VERSION_MAJOR).svgz

	# add desktop
	mkdir -p $(CURDIR)/debian/tmp-$*/usr/share/applications/
	sed < $(CURDIR)/debian/display.desktop.in \
		-e s/\$$\(QUANTUMDEPTH\)/$*/g \
		-e s/\$$\(IMVERSION\)/$(IMVERSION)/g \
		> $(CURDIR)/debian/tmp-$*/usr/share/applications/display.$*.im$(IMVERSION).desktop

	touch $@
clean-build-arch-quantum-install-destdir-%: 
	dh_testdir
	[ ! -f build-arch-install-destdir-stamp-$* ] || rm -f build-arch-install-destdir-stamp-$*

# build quantum by quantum (serialize by qantum depth)
build-arch-quantum-%: build-arch-quantum-stamp-%
	@echo "Building/testing/installing a quantum version : DONE";
log-begin-build-arch-quantum-%: 
	@echo "Building/testing/installing a quantum version"
build-arch-quantum-stamp-%: log-begin-build-arch-quantum-% build-arch-bin-quantum-% check-arch-bin-quantum-% build-arch-quantum-install-destdir-% 
	dh_testdir
	[ ! -f Makefile ] || $(MAKE) $(PASS_MAKEFLAGS) clean
	touch $@
clean-build-arch-quantum-%: clean-build-arch-bin-quantum-% clean-check-arch-bin-quantum-% clean-build-arch-quantum-install-destdir-%
	dh_testdir
	[ ! -f Makefile ] || $(MAKE) clean
	[ ! -f PerlMagick/Makefile ] || (cd PerlMagick && $(MAKE) clean)
	[ ! -f build-arch-quantum-stamp-$* ] || rm -f build-arch-quantum-stamp-$*


# build quantum
build-arch-quantums: build-arch-quantums-stamp
	@echo "quantum dispatching done"
build-arch-quantums-stamp: autoreconf-stamp
	@echo "quantum dispatching run"
	dh_testdir
	for QDEPTH in $(QUANTUMDEPTH); do \
		$(MAKE) $(PASS_MAKEFLAGS) -f $(CURDIR)/debian/rules build-arch-quantum-$$QDEPTH || exit 2; \
	done
	touch $@
clean-build-arch-quantums:
	dh_testdir
	for QDEPTH in $(QUANTUMDEPTH); do \
		$(MAKE) $(PASS_MAKEFLAGS) -f $(CURDIR)/debian/rules clean-build-arch-quantum-$$QDEPTH || exit 2; \
	done
	[ ! -f build-arch-quantums-stamp ] || rm -f build-arch-quantums-stamp

# build arch run build then check then install to destdir
build-arch: build-arch-log-begin build-arch-quantums build-arch-stamp
	@echo ""
	@echo "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"
	@echo "Build-arch target: DONE"
	@echo
build-arch-log-begin:
	@echo ""
	@echo "---------------------------------------------"
	@echo "Build-arch target 			    "
	@echo "---------------------------------------------"
	@echo ""
build-arch-stamp: 
	dh_testdir
	touch $@
clean-build-arch: clean-build-arch-quantums 
	dh_testdir
	[ ! -f build-arch-stamp ] || rm -f build-arch-stamp

# build indep: build the independant part of the configure
build-indep: autoreconf build-indep-stamp 
	@echo ""
	@echo "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"
	@echo "Build Imagemagick indep (set Quantum to Q16) : DONE "
	@echo ""
build-indep-stamp:
	@echo ""
	@echo "---------------------------------------------"
	@echo "Build Imagemagick indep (set Quantum to Q16) "
	@echo "---------------------------------------------"
	@echo ""
	dh_testdir

	[ ! -f Makefile ] || $(MAKE) clean

	# build with basic configuration and cache
	dh_auto_configure -- $(CONFIGURE_OPTIONS) \
		--with-quantum-depth=16 \
		-C

	$(MAKE) $(PASS_MAKEFLAGS) install-configlibDATA DESTDIR="$(CURDIR)/debian/tmp-indep" \
		pkgdocdir=/usr/share/doc/imagemagick-common
	$(MAKE) $(PASS_MAKEFLAGS) install-data-html DESTDIR="$(CURDIR)/debian/tmp-indep" \
		pkgdocdir=/usr/share/doc/imagemagick-common
	$(MAKE) $(PASS_MAKEFLAGS)  install-magickincHEADERS DESTDIR="$(CURDIR)/debian/tmp-indep" \
		pkgdocdir=/usr/share/doc/imagemagick-common
	$(MAKE) $(PASS_MAKEFLAGS)  install-wandincHEADERS DESTDIR="$(CURDIR)/debian/tmp-indep" \
		pkgdocdir=/usr/share/doc/imagemagick-common
	$(MAKE) $(PASS_MAKEFLAGS)  install-magickppincHEADERS DESTDIR="$(CURDIR)/debian/tmp-indep" \
		pkgdocdir=/usr/share/doc/imagemagick-common
	$(MAKE) $(PASS_MAKEFLAGS)  install-magickpptopincHEADERS DESTDIR="$(CURDIR)/debian/tmp-indep" \
		pkgdocdir=/usr/share/doc/imagemagick-common

	# Use x-terminal emulator for editing (Bug #132947) TODO: proper patch please
	sed -i 's/xterm/\/etc\/alternatives\/x-terminal-emulator/' \
		$(CURDIR)/debian/tmp-indep/etc/ImageMagick/delegates.xml

	# Remove empty directories in debian/tmp
	-find $(CURDIR)/debian/tmp-indep -type d -empty | xargs -r rmdir -p

	$(MAKE)  clean

	touch $@
clean-build-indep:
	dh_testdir
	[ ! -f Makefile ] || $(MAKE) clean
	[ ! -f build-indep-stamp ] || rm -f  build-indep-stamp

# run build indep after build-arch
build: build-stamp
	@echo ""
	@echo "*******************************************"
	@echo "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
	@echo ""
	@echo "Build : DONE"  
	@echo ""
build-stamp:
	@echo ""
	@echo "*******************************************"
	@echo "Build                                      "  
	@echo "*******************************************"
	@echo ""
	$(MAKE) $(PASS_MAKEFLAGS) -f $(CURDIR)/debian/rules "build-indep" || exit 2
	$(MAKE) $(PASS_MAKEFLAGS) -f $(CURDIR)/debian/rules "build-arch" || exit 2
	touch build-stamp
clean-build: clean-build-arch clean-build-indep
	[ ! -f build-stamp ] || rm -f  build-stamp


# install target
install-common: install-common-stamp
install-common-log-begin:
	@echo ""
	@echo "--------------------------------------"
	@echo " Install common part (normally empty) "
	@echo "--------------------------------------"
	@echo ""
install-common-stamp: 
	dh_testdir
	dh_testroot
	dh_installdirs
	touch install-common-stamp
clean-install-common:
	[ ! -f install-common-stamp ] || rm -f install-common-stamp
install-arch: install-arch-stamp
install-arch-log-begin:
	@echo ""
	@echo "--------------------------------------"
	@echo " install-arch (normally empty) "
	@echo "--------------------------------------"
	@echo ""
install-arch-stamp: install-arch-log-begin build-arch install-common
	touch install-arch-stamp
clean-install-arch:
	[ ! -f install-arch-stamp ] || rm -f install-arch-stamp
install-indep: install-indep-stamp
install-indep-log-begin:
	@echo ""
	@echo "--------------------------------------"
	@echo " install-indep (normally empty) "
	@echo "--------------------------------------"
	@echo ""
install-indep-stamp: install-indep-log-begin build-indep install-common
	touch install-indep-stamp
clean-install-indep:
	[ ! -f install-indep-stamp ] || rm -f install-indep-stamp
install: install-stamp
install-log-begin:
	@echo ""
	@echo "--------------------------"
	@echo " Install (normally empty) "
	@echo "--------------------------"
	@echo ""
install-stamp: install-log-begin install-arch install-indep
	touch install-stamp
clean-install: clean-install-arch clean-install-indep clean-install-common
	[ ! -f install-stamp ] || rm -f install-stamp


binary-arch-log:
	@echo ""
	@echo "*******************************************"
	@echo " Binary-arch                               "  
	@echo "*******************************************"
	@echo ""

# binary-arch no quantum
binary-arch-noquantum-pkg-%: build-arch install-arch
	dh_testdir
	dh_testroot
	dh_installdocs --link-doc=imagemagick-common -p$*;
	dh_installchangelogs -p$*
	dh_install -p$* --sourcedir=debian/tmp-$(NOQUANTUMDEPTH)
	dh_perl -p$*
	dh_installmenu -p$*
	dh_installmime -p$*
	dh_link -p$*
	dh_bugfiles --all -p$*
	dh_strip --dbg-package=imagemagick-dbg -p$*
	# fix #611125 
	dh_compress -X/www/ -p$*
	dh_fixperms -p$*

	dh_makeshlibs -V -p$*
	dh_shlibdeps -p$*
	dh_installdeb -p$*
	dh_gencontrol -p$*
	dh_md5sums -p$*
	dh_builddeb -$*

binary-arch-noquantum: build-arch install-arch
	dh_testdir
	dh_testroot
	for pkg in $(ARCH_NOQUANTUM_PKG); do \
		$(MAKE) $(PASS_MAKEFLAGS) -f $(CURDIR)/debian/rules binary-arch-noquantum-pkg-$$pkg || exit 2; \
	done;

# binary-arch quantum
binary-arch: binary-arch-log build-arch install-arch binary-arch-noquantum
	dh_testdir
	dh_testroot
	dh_installdirs

	for pkg in $(ARCH_QUANTUM_PKG); do \
	   	for Q in $(QUANTUMDEPTH); do \
			dh_installdocs --link-doc=imagemagick-common -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"`; \
			dh_installchangelogs -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"`; \
			dh_install -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` --sourcedir="debian/tmp-$$Q" ; \
		done; \
	done;

	# Remove extra coders
	for Q in $(QUANTUMDEPTH); do \
		while read FILE; do \
			rm -f debian/libmagickcore-`echo $$Q | sed -r 's/(.*)/\1/gi'`-${SOVERSION}/$$FILE; \
		done < debian/libmagickcore-`echo $$Q | sed -r 's/(.*)/\1/gi'`-${SOVERSION}-extra.install; \
	done;

	for pkg in $(ARCH_QUANTUM_PKG); do \
	   	for Q in $(QUANTUMDEPTH); do \
			dh_perl -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_installmenu -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_installmime -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_link	 -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_bugfiles --all -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_strip --dbg-package=imagemagick-dbg -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			# fix #611125
			dh_compress -X/www/ -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_fixperms -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_makeshlibs -V -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_shlibdeps -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_installdeb -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_gencontrol -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_md5sums -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
			dh_builddeb -p`echo $$pkg | sed -r "s/QUANTUM/$$Q/gi"` \
		done ;\
	done; \
	# TODO not yet
	# dh_installmanual
	# dh_installinfo


binary-indep-log:
	@echo ""
	@echo "*******************************************"
	@echo " Binary-indep                              "  
	@echo "*******************************************"
	@echo ""
binary-indep: binary-indep-log build-indep install-indep
	dh_testdir
	dh_testroot
	dh_installdirs

	# installdocs 
	for pkg in $(INDEP_PKG); do \
		dh_installdocs --link-doc=imagemagick-common -p$$pkg; \
		dh_installchangelogs -p$$pkg; \
		dh_install -p$$pkg --sourcedir=debian/tmp-indep ;\
		dh_bugfiles -p$$pkg -A; \
		dh_compress -p$$pkg -X/www/ ;\
		dh_fixperms -p$$pkg ;\
		dh_installdeb -p$$pkg ;\
		dh_gencontrol -p$$pkg ;\
		dh_md5sums -p$$pkg ;\
		dh_builddeb -p$$pkg ;\
	done;
binary: build
	$(MAKE) $(PASS_MAKEFLAGS) -f $(CURDIR)/debian/rules "binary-indep" || exit 2
	$(MAKE) $(PASS_MAKEFLAGS) -f $(CURDIR)/debian/rules "binary-arch" || exit 2

# # Build architecture-dependent files here.
# binary-arch: build check install
# 	dh_testdir
# 	dh_testroot
# 	dh_installdocs
# 	dh_installexamples
# 	dh_install
# 	# Remove extra coders
# 	while read FILE; do \
# 		rm -f debian/libmagickcore-${LOWERQUANTUMDEPTH}-${SOVERSION}/$$FILE; \
# 	done < debian/libmagickcore-${LOWERQUANTUMDEPTH}-${SOVERSION}-extra.install
# 	dh_installmenu
# 	dh_installman
# 	dh_installmime
# 	dh_installinfo
# 	dh_installchangelogs
# 	dh_link
# 	dh_bugfiles --all
# 	dh_strip --dbg-package=imagemagick-dbg
# 	# fix #611125
# 	dh_compress -X/usr/share/doc/imagemagick/www
# 	dh_fixperms
# 	dh_perl
# 	dh_makeshlibs -V
# 	dh_shlibdeps
# 	dh_installdeb
# 	dh_shlibdeps
# 	dh_gencontrol
# 	dh_md5sums
# 	dh_builddeb

# binary: binary-indep binary-arch

# # We have nothing to do by default.


# install: build 
# 	dh_testdir
# 	dh_testroot
# 	dh_prep
# 	dh_installdirs


clean:
	@echo ""
	@echo "*******************************************"
	@echo " Clean                                     "  
	@echo "*******************************************"
	@echo ""

	dh_testdir
	dh_testroot

	$(MAKE) $(PASS_MAKEFLAGS) -f $(CURDIR)/debian/rules "clean-build" || exit 2; 

	[ ! -d $(CURDIR)/debian/tmp-indep ] || rm -rf $(CURDIR)/debian/tmp-indep
	for Q in $(QUANTUMDEPTH); do \
		[ ! -d $(CURDIR)/debian/tmp-$$Q ] || rm -rf $(CURDIR)/debian/tmp-$$Q ; \
	done;
	# Commands to clean up after the build process
	[ ! -f PerlMagick/Makefile ] || (cd PerlMagick && $(MAKE) distclean)
	[ ! -f Magick++/Makefile ] || (cd Magick++ && $(MAKE) distclean)
	[ ! -f Makefile ] || $(MAKE) distclean

	[ ! -f config.cache ] || rm -f config.cache

	# left over report upstream
	[ ! -d "$(CURDIR)/utilities/.libs" ] || rm -rf "$(CURDIR)/utilities/.libs"
	[ ! -f "$(CURDIR)/_configs.sed" ] || rm -f "$(CURDIR)/_configs.sed" 
	[ ! -f "$(CURDIR)/magick/magick-baseconfig.h" ] || rm -f "$(CURDIR)/magick/magick-baseconfig.h"
	for Q in $(QUANTUMDEPTH); do \
		[ ! -f "$(CURDIR)/Magick++/lib/ImageMagick++-$$Q.pc" ] || rm -f "$(CURDIR)/Magick++/lib/ImageMagick++-$$Q.pc" ; \
	        [ ! -f "$(CURDIR)/Magick++/lib/Magick++-$$Q.pc" ] || rm -f "$(CURDIR)/Magick++/lib/Magick++-$$Q.pc" ;\
		[ ! -f "$(CURDIR)/magick/ImageMagick-$$Q.pc" ] || rm -f "$(CURDIR)/magick/ImageMagick-$$Q.pc" ;\
		[ ! -f "$(CURDIR)/magick/MagickCore-$$Q.pc" ] || rm -f "$(CURDIR)/magick/MagickCore-$$Q.pc" ;\
		[ ! -f "$(CURDIR)/wand/MagickWand-$$Q.pc" ] || rm -f "$(CURDIR)/wand/MagickWand-$$Q.pc" ;\
		[ ! -f "$(CURDIR)/wand/Wand-$$Q.pc" ] || rm -f "$(CURDIR)/wand/Wand-$$Q.pc" ;\
	done;

# 	# remove icons cache
# 	[ ! -d $(CURDIR)/debian/icons ] || rm -rf $(CURDIR)/debian/icons
# 	[ ! -f $(CURDIR)/debian/display.im$(DEB_UPSTREAM_VERSION_MAJOR).xpm ] || rm -rf $(CURDIR)/debian/display.im$(DEB_UPSTREAM_VERSION_MAJOR).xpm

	dh_autoreconf_clean
	dh_clean


.PHONY: autoreconf build clean binary-indep binary-arch binary install